.menu {
    background: #006ACB
}

.fa-sign-out, .user {
    color: #006ACB;
}

.user {
    display: block;
}

.navbar ul {
    margin: 0px;
}

li {
    list-style: none;
}

.sign-out {
    border: none;
    background-color: #FFF;
}

.container .nav .nav-link {
    padding: 5px 10px 5px 10px;
}

.fixed-top .navbar {
    padding: 0px;
    background-color: #FFF;
}

.nav-link {
    color: #C1E4FF
}

.nav-link:hover{
    color: #FFF
}

.banner {
    margin-top: 10%;
}

.banner img {
    width: 100%;
    height: 230px
}

.active {
    color: #FFF 
}

.list-group {
    position: absolute;
}

.list-group-item span {
    margin: 0px 5px 0px 5px;
    border-left: 2px solid #D3D3D3;
}

.list-group-item {
    display: flex;
    justify-content: end;
}

.nav button {
    padding: 0px;
    border: none;
    background-color: transparent;
}