<div class="container" *ngIf="category !== undefined" >
  
    <div class="secao">
      <h5 class="text-center">{{ category.description }}</h5>
    </div>
  
    <hr />
  
    <ng-container *ngFor="let offer of offers">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" [src]="offer.images[0].type + offer.images[0].url" />
        </div>
    
        <div class="col-md-8">
          <div class="row">
            <h4>{{ offer.title }}</h4>
          </div>
    
          <div class="row">
            <h5>{{ offer.description }}</h5>
          </div>
    
          <div class="row">
            <p>Anunciado por: <b>{{ offer.advertiser.username }}</b></p>
          </div>
    
          <div class="row">
            <p>{{ offer.value | currency }}</p>
          </div>
    
          <div class="row">
            <button routerLink="../offer/{{ offer.id }}" class="col-md-2 btn btn-outline-success">Ver oferta</button>
          </div>
        </div>
      </div>
  
      <hr />
    </ng-container>
  
  </div>