<div class="container">
    <div class="register-offer">
      <form [formGroup]="form" (ngSubmit)="!offerId ? registerOffer() : updateOffer()" novalidate>
  
        <h5>Oferta</h5>
        <hr />
  
        <div class="form-row">
          
          <div class="form-group col-md-4">
            <input name="title" formControlName="title" type="text" class="form-control" placeholder="Titulo"
              autocomplete="off">
            <small class="{{ form.get('title').invalid && form.get('title').touched ? 'form-text text-danger' : 'fade' }}">Titulo inválido</small>
          </div>
  
          <div class="form-group col-md-8">
            <input name="description" formControlName="description" type="text" class="form-control" placeholder="Descrição"
              autocomplete="off">
            <small class="{{ form.get('description').invalid && form.get('description').touched ? 'form-text text-danger' : 'fade' }}">Descrição inválido</small>
          </div>
  
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <input name="value" formControlName="value" type="number" class="form-control"
                  placeholder="Valor" autocomplete="off">
                <small class="{{ form.get('value').invalid && form.get('value').touched ? 'form-text text-danger' : 'fade' }}">Valor inválido</small>
            </div>

            <div class="form-group col-md-4">
                <input name="details" formControlName="details" type="text" class="form-control"
                  placeholder="Detalhes" autocomplete="off">
                <small class="{{ form.get('details').invalid && form.get('details').touched ? 'form-text text-danger' : 'fade' }}">Detalhes inválido</small>
            </div>

            <div class="form-group col-md-4">
              <input name="location" formControlName="location" type="text" class="form-control"
                placeholder="Localização" autocomplete="off">
              <small class="{{ form.get('location').invalid && form.get('location').touched ? 'form-text text-danger' : 'fade' }}">Valor inválido</small>
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <select class="form-control" formControlName="category" (change)="onSelectCategory($event)">
                    <option value="">Categoria...</option>
                    <option [ngValue]="category" *ngFor="let category of categories" [selected]="form.controls['category'].value && form.controls['category'].value.name === category.name">{{ category.name | uppercase }}</option>
                    <option value="newCategory">+ Criar Categoria</option>
                </select>
                <small class="{{ form.get('category').invalid && form.get('category').touched ? 'form-text text-danger' : 'fade' }}">Categoria inválida</small>
            </div>

            <div class="form-group col-md-4">
              <app-multiple-image-upload (onUploadImage)="uploadImages($event)" [images]="images"></app-multiple-image-upload>
                <small class="{{ form.get('images').invalid && form.get('images').touched ? 'form-text text-danger' : 'fade' }}">Imagem inválida</small>
            </div>
        </div>

        <hr />
        <button type="submit" class="btn btn-primary btn-lg" *ngIf="!offerId">Cadastrar Oferta</button>
        <button type="submit" class="btn btn-primary btn-lg" *ngIf="offerId">Atualizar Oferta</button>
      </form>
    </div>
  </div>
